@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');

body {
    overflow: hidden;
    margin: 0;
    background-image: url('img/background.jpg');
    background-color: #2B2D42;
    background-size: 140%;
    font-family: 'Rajdhani', sans-serif;
    transition: background-size 0.5s ease;
    animation: bgscale 80s 1;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -100px ;
}

@keyframes bgscale {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 140%;
    }
}

#main {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Rajdhani', sans-serif;
    color: #494B6F;
    scroll-behavior: smooth;
}

#main > div > h1 {
    color: #fff;
    font-size: 100px;
    text-align: right;
    font-weight: 700;
}

h2 {
    text-align: center;
}

#profile > .me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    position: relative;
    z-index: 1;
}

#profile > .me > div:last-child > h1:first-child {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    bottom: -38px;
    letter-spacing: 1px;
    border-right: 7px solid #E94F48;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 1px 1px 5px #000000be;
    width: 0ch;
    animation: typing1 0.5s steps(10, end) forwards, blink .5s step-end 0.2s forwards;
}

#profile > .me > div:last-child h1:nth-child(2) {
    position: relative;
    z-index: 1;
    font-weight: 700;
    font-size: 98px;
    margin: -13px -0 -27px 0;
    padding-top: 12px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #000000be;
    border-right: 7px solid #E94F48;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    width: 0ch;
    animation: show 0.1s forwards 0.5s, typing2 0.5s steps(8, end) .6s forwards, blink .5s step-end 2.1s forwards;
}

#profile > .me > div:last-child h2 {
    font-size: 27px;
    width: 407px;
    font-weight: 500;
    color: #FABF74;
    letter-spacing: 2px;
    margin-left: 8px;
    margin-top: -8px;
    text-transform: uppercase;
    opacity: 0;
    animation: appearbottom 1s forwards 1s;
    text-wrap: nowrap;
    background-color: #0000002f;
    backdrop-filter: blur( 5.5px );
    border-radius: 3px;
}

#profile > .me > div:last-child h2 span {
    letter-spacing: 0px;
}

@keyframes typing1 {
    from {
        width: 0ch;
    }
    to {
        width: 10ch;
    }
}

@keyframes typing2 {
    from {
        width: 0ch;
    }
    to {
        width: 8ch;
    }
}

@keyframes blink {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #E94F48;
    }
}

@keyframes show {
    to {
        opacity: 1;
    }
}

@keyframes appearbottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

#profile .me a {
    text-decoration: none;
    transform: scale(1, 1);
    transition: .2s ease;
}

#profile .me a:hover {
    transform: scale(1.1, 1.1);
    mix-blend-mode: normal;
}

#profile .me a div {
    background-image: url('img/profile.png');
    min-width: 350px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    animation: appearbottom 1s forwards 2s;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

#profile .me a:hover div {
    filter: drop-shadow(5px 5px 52px #EE233C);
}

#profile .me a div h3,
#profile .me a div p {
    text-shadow: 1px 1px 5px #000;
    margin: 0;
    position: relative;
    top: -50px;
    line-height: 25px;
}

#profile .me a div h3 {
    font-size: 42px;
    color: #fff;
    opacity: 0;
    animation: appearbottom 1s forwards 2.5s;
}

.contact {
    display: flex;
    justify-content: space-around;
    opacity: 0;
    height: 250px;
    margin-top: -80px;
    flex-wrap: wrap;
    animation: appearbottom 1s forwards 2s;
}

.contact a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
    font-weight: 400;
    text-shadow: 1px 1px 5px #000;
margin: 40px -48px;
    position: relative;
    z-index: 2;
    width: 310px;
}

.contact a::after {
    content: '';
    min-width: 400px;
    min-height: 400px;
    background: radial-gradient(circle, #1c192aa1 10%, #1c192a00 70%);
    position: absolute;
    pointer-events: none;
    z-index: -1;
}

.contact a span {
    color: #ffd398;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.1s ease-out;
}

.contact a:hover::after {
    content: '';
    background: radial-gradient(circle, #FABF74 0%, #FABF7400 70%);
}

.contact a i {
    font-size: 30px;
    margin-bottom: 15px;
    color: #fff;
}

.contact a:hover span {
    font-weight: 600;
    letter-spacing: 0px;
}

.contact a:hover i,
.contact a:hover span {
    text-shadow: 0px 0px 0px #000000a4;
    color: #2B2D42;
    font-weight: 600;
}

#profile .menu {
    display: flex;
    justify-content: center;
}

#profile .menu a,
#end .top {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    z-index: 1;
    opacity: 0;
    animation: appearbottom 1s forwards 1s;
    transition: .2s ease;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 1px 1px 5px #000;
}

#profile .menu a:hover,
#end .top:hover {
    letter-spacing: 10px;
    color: #fff;
    text-shadow: 1px 1px 15px #fff;
}

#portafolio {
    width: 95%;
    margin: auto;
    margin-top: 5%;
    background: rgba( 43, 45, 66, 0.35 );
    box-shadow: 0 0 75px 0 #E94F4859;
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.design {
    margin: 0 !important;
    color: #FABF74 !important;
}

@media screen and (max-width: 1600px) {
    .nav + .progress-bar {
        transform: rotate(-90deg) translateX(70%);
    }
}

@media screen and (max-width: 1400px) {
    .nav + .progress-bar {
        transform: rotate(-90deg) translateX(72%);
    }
}

@media screen and (max-width: 1000px) {
    .contact a {
        margin: -25px -25px;
        min-width: 200px;
        min-height: 200px;
    }

    .contact a::after {
        min-width: 300px;
        min-height: 300px;
    }
}

@media screen and (max-width: 1200px) {
    .ludifica > div > div, .moreexperiences > div {
        width: 100% !important;
    }

    .contact a::after {
        min-width: 400px;
        min-height: 400px;
    }

    .nav + .progress-bar {
        transform: rotate(-90deg) translateX(63%);
    }
}

@media screen and (max-width: 936px) {

    .ludifica > div > div, .moreexperiences > div {
        width: 100% !important;
    }

    #profile .me a div h3 {
        font-size: 28px;
    }

    #profile > .me a div p {
        font-size: 18px;
    }

    #profile .me a div h3,
    #profile .me a div p {
        text-shadow: 1px 1px 5px #000;
        margin: 0;
        position: relative;
        top: -46px;
        line-height: 20px;
    }

    #profile .me {
        flex-direction: column;
    }

    #profile .me a div {
        background-image: url('img/profilex250.png');
        min-width: 250px;
        min-height: 250px;
    }

    #profile > .me > div:last-child h2 {
        margin-left: 2px;
    }

    #profile > .me > div:last-child h2 span {
        display: block;
    }

    #profile > .me > div:last-child h2 span:nth-child(2) {
        opacity: 0;
        line-height: 0;
    }

    .zoom-container a {
        pointer-events: none;
    }

}

@media screen and (max-width: 800px) {
    #portafolio {
        margin-top: 34%;
    }
}


@media screen and (max-width: 750px) {

    #portafolio p, .moveable {
        left: 1% !important;
        top: -10px !important;
        font-size: 14px;
        width: 250px;
    }

    .contact {
        margin: auto;
    }

    #portafolio p {
        display: block !important;
        left: 0% !important;
        top: 40%  !important;
    }
}

#portafolio > div {
    padding: 15px;
    margin: auto;
}

#portafolio h2 {
    letter-spacing: 10px;
    font-weight: 600;
}

#portafolio h2 {
    color: #FFEFC2;
}

.ludifica p span {
    color: #FFEFC2;
}

.ludifica > div, .moreexperiences {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.ludifica > div > div, .moreexperiences > div {
    border-radius: 6px;
    width: 42%;
    min-width: 550px;
    margin: 15px;
    max-width: 900px;
}

.moreexperiences .zoom-container {
    width: 100%;
    border-radius: 6px;
}

#portafolio p, .moveable {
    background-color: #2b2d42;
    position: absolute;
    left: 30%;
    display: none;
    padding: 15px;
    border-radius: 5px;
    letter-spacing: 2px;
    width: 357px;
    color: rgba(210, 221, 238, 0.932);
    font-weight: 500;
    text-align: left;
    box-shadow: rgba(43, 45, 66, 0.4) 5px 5px, rgba(43, 45, 66, 0.3) 10px 10px, rgba(43, 45, 66, 0.2) 15px 15px, rgba(43, 45, 66, 0.1) 20px 20px, rgba(43, 45, 66, 0.05) 25px 25px;
    z-index: 3;
    pointer-events: none;
    font-size: 18px;
}

.moveable strong {
    color: #FABF74;
}

.ludifica {
    display: flex;
    flex-direction: column;
}

.appear {
    opacity: 0;
    animation: appearbottom 1s forwards 1s;
}

.zoom-container {
    overflow: hidden;
    position: relative;
    background: none !important;
    box-sizing: border-box;
    border-radius: 6px;
}

.zoom-container {
    cursor: pointer;
}

.beforeux::after {
    content: "Antes de UX/UI";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    background-color: #2b2d428c;
    padding: 5px 10px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 5px #000;
}

.afterux::after {
    content: "Después de UX/UI";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    background-color: #2b2d428c;
    padding: 5px 10px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 5px #000;
}

.afterux:hover::after,
.beforeux:hover::after {
    display: none;
}

.ludifica > div > div:first-child:hover {
    box-shadow: 1px 1px 100px #ffefc200;
}

.zoom-image {
    transition: transform 0.2s ease-in 1s;
    width: 100%;
    object-fit: cover;
}

.zoom-container:hover .zoom-image {
    transform: scale(1.1);
    opacity: 1;
    transition: transform 0.2s ease-in;
}

.presentation:hover .zoom-image {
    mix-blend-mode: normal;
    opacity: 1;
}

.zoom-container:hover .zoom-image.nozoom {
    transform: scale(1);
}

#end {
    min-height: 95vh !important;
    justify-content: space-between;
    background-position-y: 57vh;
    background-repeat: no-repeat;
    cursor: url('img/heart_cursor.png'), auto;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#end h1 {
    letter-spacing: 15px;
    background: rgba( 43, 45, 66, 0.35 );
    backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 13px;
    width: 300px;
    padding: 15px;
    line-height: 54px;
    text-shadow: 1px 1px 5px #000000be;
}

#end h1 > span:first-child {
    font-size: 30px;
    letter-spacing: 22px;
    margin-left: 2px;
}

#end h1 > span:nth-child(2) {
    font-weight: 700;
    font-size: 70px;
    letter-spacing: 5px;
    margin-left: -15px;
    color: #FABF74;
}

#end h1 > span:nth-child(3) {
    margin-left: 6px;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 18px;
}

#end h1 > span:last-child {
    font-weight: 700;
    font-size: 86px;
    letter-spacing: -3px;
    margin-left: -17px;
}

#end span {
    display: block;
    text-align: center;
}

#end a {
    text-decoration: none;
}

#end a:last-child {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -60px;
}

#end a:last-child > div {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#end a:last-child > div > span:first-child {
    font-size: 26px;
    letter-spacing: 0;
    transform: scale(1, 1.5);
    position: relative;
    transition: .1s ease-in-out;
}

#end a:last-child > div > span:last-child  {
    position: relative;
}

#end a:last-child > div > span {
    font-weight: 500;
    color: #ffffff;
    text-shadow: 1px 1px 3px #000;
}

#end a:last-child:hover > div > span {
    transform: scale(1.1, 1.1);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 3;
    width: 42px;
    left: 99%;
    top: -384px;
    flex-direction: column-reverse;
}

.nav-btn {
    border: none;
    font-size: 35px;
    cursor: pointer;
    outline: none;
    background: none;
    text-shadow: 1px 1px 30px #FABF74;
}

.prev-btn {
    animation: appearleft 5s ease 1s infinite normal forwards running;
    position: relative;
    left: 0;
}

.next-btn {
    animation: appearright 5s ease 1s infinite normal forwards running;
    position: relative;
    left: 0;
}

.nav-btn:hover {
    text-shadow: 1px 4px 40px #29586e;
    transform: scale(1.3, 1.3);
    animation-play-state: paused;
}

@keyframes appearright {

    0% {
        left: 0px;
    }

    5% {
        left: -10px;
    }

    10% {
        left: 0px;
    }

    100% {
        left: 0px;
    }

}

@keyframes appearleft {
    0% {
        left: 0px;
    }

    5% {
        left: 10px;
    }

    10% {
        left: 0px;
    }

    100% {
        left: 0px;
    }
}

.progress-bar {
    height: 7px;
    display: flex;
    justify-content: flex-start;
    z-index: 3;
    pointer-events: none;
    transform: rotate(-90deg) translateX(66%);
    position: relative;
    left: -52%;
}

.progress-fill {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, rgba(239,35,60,0) 0%, rgba(239,35,60,1) 63%, rgba(255,190,11,1) 81%, rgba(127,150,255,1) 96%);
    border-radius: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.progress-fill span {
    position: relative;
    right: -23px;
    bottom: -4px;
    font-size: 30px;
    transform: rotate(-45deg);
    text-shadow: 0 0 25px #f87250;
    transform: rotate(45deg) translate(10px, 9px);
}

.slide {
    display: none;
}

#portafolio .presentation:hover p {
    display: block;
}

.slide.active {
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 600px) {

    body {
        background-size: auto;
        animation: none;
    }
}

@media screen and (max-width: 526px) {

    #portafolio {
        margin-top: 60vh
    }
}

@media screen and (max-width: 512px) {

    .ludifica > div > div, .moreexperiences > div {
        min-width: fit-content;
    }

    #profile > .me > div:last-child > h1:first-child {
        bottom: -30px;
    }

    #profile > .me > div:last-child h1:nth-child(2) {
        font-size: 67px;
    }

    #end h1 {
        transform: scale(1, 1);
    }

    #main > div > h1 {
        font-size: 80px;
        text-align: center;
        margin: -10px 0 -25px 0;
    }

    #portafolio {
        width: 100%;
    }

    .nav {
        top: -10px;
        left: 45%;
    }

    .ludifica > div > div, .moreexperiences > div {
        margin: 15px 0;
    }

    #profile > .me > div:last-child > h1:first-child {
        font-size: 54px;
        font-weight: 700;
    }

    #profile > .me > div:last-child h2 {
        font-size: 19px;
        width: 100px;
        word-wrap: break-word;
        margin-top: 10px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .contact a::after {
        content: '';
        min-width: 200px;
        min-height: 200px;
    }

    #portafolio {
        margin-top: 70vh;
    }
}

.crm > div > div:nth-child(1) video {
    clip-path: inset(55px 0);

}

.crm > div > div:nth-child(3) video {
    clip-path: inset(93px 0 0 0);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #FABF74;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222222;
    scrollbar-width: thin;
    scrollbar-color: #FABF74 #f1f1f1;
}
  
#stars {
    background-image: url(img/stars.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    animation: bright 60s ease-in-out 1 alternate;
    filter: blur(5px);
    transform: scale(3, 3);
}


@keyframes bright {
    0% {
        filter: brightness(50%);
        filter: blur(0px);
        transform: scale(1, 1);
        opacity: 1;
    }
    
    100% {
        filter: brightness(200%);
        filter: blur(15px);
        transform: scale(4, 4);
        opacity: 0;
    }
}